<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Visited Places Map</title>
</head>
<body>
<div id="chartdiv" style="width:800px;height:500px"></div>
<script>
var visitedplaces_config = {
  "map": "world",
  "projection": "geoOrthographic",
  "theme": "dark-green",
  "water": 1,
  "graticule": 1,
  "names": 1,
  "duration": 2000,
  "placeduration": 100,
  "slider": 0,
  "autoplay": 0,
  "autozoom": "step",
  "autostep": 1,
  "pie": 1,
  "home": "MX",
  "data": [
    {
      "places": [
        "MX"
      ],
      "text": "My Home",
      "position": {
        "zoomLevel": 1.6,
        "geoPoint": {
          "longitude": -100.6,
          "latitude": 44.4
        },
        "rotationX": 100.6,
        "rotationY": -44.4
      },
      "colors": {
        "MX": "daaa44"
      }
    }
  ]
};
</script>
<script src="https://visitedplaces.com/embed.js"></script>
</body>
</html>